#search {
    height: 32px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 12px;
    background-color: white;
    background-image: url('searchicon.png');
    background-size: 20px 20px;
    background-position: 10px 3px;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
}

.anspicture{
    width:100%;
    max-width:400px;
    max-height:600px;
}
